.bg {
  background-image: url("bg.jpg");
  background-position: center;
}
.center {
padding-top: 30vh;
}
.text{
color: #fff;text-align: center;}

.btn {
  background-color: #e55039;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform:capitalize;
  border-radius: 10em;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #e55029;
  border: solid #fff 5px;
}
